<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Weather App</title>
</head>
<body>
<header>
    <div class="header">
        <h1 class="title">
            What's the weather like?
        </h1>
    </div>
</header>

<main class="main">
    <section class="cities-list">
        <h2>Choose one of the cities or enter your city:</h2>
        <ul>
            {% for city in cities %}
            <li>{{ city.name }} ({{ city.country }})</li>
            {% endfor %}
        </ul>
    </section>

    <section>
        {% if message %}
        <div class="error">{{ message }}</div>
        {% endif %}
        <div>
            <form method="post">
                {% csrf_token %}
                <label>
                    <input type="text" name="city" required>
                </label>
                <button type="submit">Get weather!</button>
            </form>
        </div>
    </section>

    <section>
        <div>
            {% if current_weather %}
            <h1>Forecast for {{ current_weather.city }}</h1>
            <p>Current temperature {{ current_weather.temperature }} °C</p>
            <p>Feels like {{ current_weather.feels_like }} °C</p>
            <p>Pressure {{ current_weather.pressure }} hPa</p>
            <p>Wind {{ current_weather.wind }} m/s</p>
            <span>{{ current_weather.description }}</span>
            <img src="http://openweathermap.org/img/wn/{{ current_weather.icon }}.png" alt="Weather Icon">
            {% endif %}
        </div>
    </section>

</main>

<footer class="footer">
    <div>
        <h4>Weather-App</h4>
        <p>Application written in Python using Django framework</p>
    </div>
</footer>

</body>
</html>
