<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather App</title>
</head>
<body>

<h2>Cities:</h2>
    <ul>
        {% for city in cities %}
        <li>{{ city.name }} ({{ city.country }})</li>
        {% endfor %}
    </ul>

 <form method="post">
     {% csrf_token %}
     <label>
         <input type="text" name="city" placeholder="City" required >
     </label>
     <button type="submit">Get weather!</button>

 </form>

 {% if current_weather %}
     <h1>{{ current_weather.city }}</h1>
     <p>{{ current_weather.temperature }}</p>
     <p>{{ current_weather.feels_like }}</p>
     <p>{{ current_weather.pressure }}</p>
     <p>{{ current_weather.wind }}</p>
     <p>{{ current_weather.description }}</p>
     <img src="http://openweathermap.org/img/wn/{{ current_weather.icon }}.png" alt="Weather Icon">

 {% endif %}
</body>
</html>
