* {
	margin: 0;
	padding: 0;
}

body {
    background-color: #d6e5b7;
    }

header {
	padding: 25px;
	margin: auto;
	text-align: center;

}
main, footer {
	         margin: auto;
	         text-align: center;
        }

.cities-list li {
  display: inline-block;
  margin-right: 10px;
}

form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

label {
        margin-bottom: 10px;
    }

input[type="text"] {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

button {
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 4px;
    }
button:hover {
        background-color: #45a049;
    }